p{
    color:aqua;
    color: #0e5c0e;
    font-style: italic;
    background-color: black;
    font-family: 'Xanh Mono', monospace;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: bolder;
}

#firstPara{
    background-color: red;
    height: 100px;
    width:455px;
    border: 4px solid green;
    /* border-width: 4px;
    border-color: green;
    border-style: solid;  */
    border-radius: 11px;
}

#secondPara{
    background-color: rgb(58, 243, 98);
    height: 100px;
    width:455px; 
    border-top: 2px solid rgb(231, 22, 231);
    border-right: 2px solid rgb(18, 10, 133);
    border-bottom: 2px solid rgba(9, 144, 27, 0.774);
    border-left: 2px solid rgb(156, 42, 13);
    border-top-left-radius: 4px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 24px;
}

#thirdPara{
    height: 500px;
    width:455px; 
    background-image: url('https://codewithharry.com/static/common/img/photo.png');
    border: 2px solid red;
    background-repeat: no-repeat; /* repeat-x and repeat-y will make it repeat on x and y axis */
    /* background-position: 192px 34px; */
    background-position: center center;
    /* background-position: bottom right; */
    /* background-position: top center; */ 

}

* {            /*universal selector which will override all */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e6cbf8;
}

.container{
    background-color: rgb(231, 230, 241);
    border: 3px solid rgb(64, 6, 119);

    /* We can set margin/padding for  top, bottom, left and right like this */
    /* padding-top: 79px;
    padding-bottom: 79px;
    padding-left: 34px; 
    padding-right: 79px;*/

    /* margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 34px;
    margin-right:5px ; */

    /* margin = top right bottom left;  */
    /* padding = top right bottom left;  */

    /* padding: 23px 56px 6px 78px;   */
    /* margin: 23px 56px 6px 78px;   */

    /* padding: y(top/bottom) x(left/right); */
    /* margin: y(top/bottom) x(left/right); */
    padding: 34px 19px;
    margin: 14px 19px;
    border-radius: 23px;
    width: 533px;
        
}


* {
    box-sizing: border-box;*/
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 900px;
    border: 3px solid purple;
    background-color: rgb(250, 226, 205);
    margin: 33px auto;
}

.item {
    border: 3px solid grey;
    margin: 12px 3px;
    padding: 12px 3px;
    background: rgb(248, 238, 238);
}

#fruit {
    float: right;
    width: 48%;
}

#computer {
    float: left;
    width: 48%;
}

#stationary {
    /* float: left; */
    clear: both;
    clear: left;
    width: 100%;
}

p, h3 {
    /* text-align: right;
    text-align: left;
    text-align: center; */
    text-align: justify;
}

h1 {
    margin: 23px auto;
    width: 455px;
}











